/* space.less v0.0.3 | MIT License | github.com/paulradzkov/space.less */
.space-auto.space-auto {
  margin: auto;
}
.space-auto-t.space-auto-t {
  margin-top: auto;
}
.space-auto-b.space-auto-b {
  margin-bottom: auto;
}
.space-auto-l.space-auto-l {
  margin-left: auto;
}
.space-auto-r.space-auto-r {
  margin-right: auto;
}
.space-auto-v.space-auto-v {
  margin-top: auto;
  margin-bottom: auto;
}
.space-auto-h.space-auto-h {
  margin-left: auto;
  margin-right: auto;
}
.space-in-zero.space-in-zero {
  padding: 0;
}
.space-in-t-zero.space-in-t-zero {
  padding-top: 0;
}
.space-in-b-zero.space-in-b-zero {
  padding-bottom: 0;
}
.space-in-l-zero.space-in-l-zero {
  padding-left: 0;
}
.space-in-r-zero.space-in-r-zero {
  padding-right: 0;
}
.space-in-v-zero.space-in-v-zero {
  padding-top: 0;
  padding-bottom: 0;
}
.space-in-h-zero.space-in-h-zero {
  padding-left: 0;
  padding-right: 0;
}
.space-in-nano.space-in-nano {
  padding: 8px;
}
.space-in-t-nano.space-in-t-nano {
  padding-top: 8px;
}
.space-in-b-nano.space-in-b-nano {
  padding-bottom: 8px;
}
.space-in-l-nano.space-in-l-nano {
  padding-left: 8px;
}
.space-in-r-nano.space-in-r-nano {
  padding-right: 8px;
}
.space-in-v-nano.space-in-v-nano {
  padding-top: 8px;
  padding-bottom: 8px;
}
.space-in-h-nano.space-in-h-nano {
  padding-left: 8px;
  padding-right: 8px;
}
.space-in-micro.space-in-micro {
  padding: 16px;
}
.space-in-t-micro.space-in-t-micro {
  padding-top: 16px;
}
.space-in-b-micro.space-in-b-micro {
  padding-bottom: 16px;
}
.space-in-l-micro.space-in-l-micro {
  padding-left: 16px;
}
.space-in-r-micro.space-in-r-micro {
  padding-right: 16px;
}
.space-in-v-micro.space-in-v-micro {
  padding-top: 16px;
  padding-bottom: 16px;
}
.space-in-h-micro.space-in-h-micro {
  padding-left: 16px;
  padding-right: 16px;
}
.space-in-mili.space-in-mili {
  padding: 24px;
}
.space-in-t-mili.space-in-t-mili {
  padding-top: 24px;
}
.space-in-b-mili.space-in-b-mili {
  padding-bottom: 24px;
}
.space-in-l-mili.space-in-l-mili {
  padding-left: 24px;
}
.space-in-r-mili.space-in-r-mili {
  padding-right: 24px;
}
.space-in-v-mili.space-in-v-mili {
  padding-top: 24px;
  padding-bottom: 24px;
}
.space-in-h-mili.space-in-h-mili {
  padding-left: 24px;
  padding-right: 24px;
}
.space-in-base.space-in-base {
  padding: 40px;
}
.space-in-t-base.space-in-t-base {
  padding-top: 40px;
}
.space-in-b-base.space-in-b-base {
  padding-bottom: 40px;
}
.space-in-l-base.space-in-l-base {
  padding-left: 40px;
}
.space-in-r-base.space-in-r-base {
  padding-right: 40px;
}
.space-in-v-base.space-in-v-base {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space-in-h-base.space-in-h-base {
  padding-left: 40px;
  padding-right: 40px;
}
.space-in-kilo.space-in-kilo {
  padding: 64px;
}
.space-in-t-kilo.space-in-t-kilo {
  padding-top: 64px;
}
.space-in-b-kilo.space-in-b-kilo {
  padding-bottom: 64px;
}
.space-in-l-kilo.space-in-l-kilo {
  padding-left: 64px;
}
.space-in-r-kilo.space-in-r-kilo {
  padding-right: 64px;
}
.space-in-v-kilo.space-in-v-kilo {
  padding-top: 64px;
  padding-bottom: 64px;
}
.space-in-h-kilo.space-in-h-kilo {
  padding-left: 64px;
  padding-right: 64px;
}
.space-in-mega.space-in-mega {
  padding: 104px;
}
.space-in-t-mega.space-in-t-mega {
  padding-top: 104px;
}
.space-in-b-mega.space-in-b-mega {
  padding-bottom: 104px;
}
.space-in-l-mega.space-in-l-mega {
  padding-left: 104px;
}
.space-in-r-mega.space-in-r-mega {
  padding-right: 104px;
}
.space-in-v-mega.space-in-v-mega {
  padding-top: 104px;
  padding-bottom: 104px;
}
.space-in-h-mega.space-in-h-mega {
  padding-left: 104px;
  padding-right: 104px;
}
.space-out-zero.space-out-zero {
  margin: 0;
}
.space-out-t-zero.space-out-t-zero {
  margin-top: 0;
}
.space-out-b-zero.space-out-b-zero {
  margin-bottom: 0;
}
.space-out-l-zero.space-out-l-zero {
  margin-left: 0;
}
.space-out-r-zero.space-out-r-zero {
  margin-right: 0;
}
.space-out-v-zero.space-out-v-zero {
  margin-top: 0;
  margin-bottom: 0;
}
.space-out-h-zero.space-out-h-zero {
  margin-left: 0;
  margin-right: 0;
}
.space-out-nano.space-out-nano {
  margin: 8px;
}
.space-out-t-nano.space-out-t-nano {
  margin-top: 8px;
}
.space-out-b-nano.space-out-b-nano {
  margin-bottom: 8px;
}
.space-out-l-nano.space-out-l-nano {
  margin-left: 8px;
}
.space-out-r-nano.space-out-r-nano {
  margin-right: 8px;
}
.space-out-v-nano.space-out-v-nano {
  margin-top: 8px;
  margin-bottom: 8px;
}
.space-out-h-nano.space-out-h-nano {
  margin-left: 8px;
  margin-right: 8px;
}
.space-out-micro.space-out-micro {
  margin: 16px;
}
.space-out-t-micro.space-out-t-micro {
  margin-top: 16px;
}
.space-out-b-micro.space-out-b-micro {
  margin-bottom: 16px;
}
.space-out-l-micro.space-out-l-micro {
  margin-left: 16px;
}
.space-out-r-micro.space-out-r-micro {
  margin-right: 16px;
}
.space-out-v-micro.space-out-v-micro {
  margin-top: 16px;
  margin-bottom: 16px;
}
.space-out-h-micro.space-out-h-micro {
  margin-left: 16px;
  margin-right: 16px;
}
.space-out-mili.space-out-mili {
  margin: 24px;
}
.space-out-t-mili.space-out-t-mili {
  margin-top: 24px;
}
.space-out-b-mili.space-out-b-mili {
  margin-bottom: 24px;
}
.space-out-l-mili.space-out-l-mili {
  margin-left: 24px;
}
.space-out-r-mili.space-out-r-mili {
  margin-right: 24px;
}
.space-out-v-mili.space-out-v-mili {
  margin-top: 24px;
  margin-bottom: 24px;
}
.space-out-h-mili.space-out-h-mili {
  margin-left: 24px;
  margin-right: 24px;
}
.space-out-base.space-out-base {
  margin: 40px;
}
.space-out-t-base.space-out-t-base {
  margin-top: 40px;
}
.space-out-b-base.space-out-b-base {
  margin-bottom: 40px;
}
.space-out-l-base.space-out-l-base {
  margin-left: 40px;
}
.space-out-r-base.space-out-r-base {
  margin-right: 40px;
}
.space-out-v-base.space-out-v-base {
  margin-top: 40px;
  margin-bottom: 40px;
}
.space-out-h-base.space-out-h-base {
  margin-left: 40px;
  margin-right: 40px;
}
.space-out-kilo.space-out-kilo {
  margin: 64px;
}
.space-out-t-kilo.space-out-t-kilo {
  margin-top: 64px;
}
.space-out-b-kilo.space-out-b-kilo {
  margin-bottom: 64px;
}
.space-out-l-kilo.space-out-l-kilo {
  margin-left: 64px;
}
.space-out-r-kilo.space-out-r-kilo {
  margin-right: 64px;
}
.space-out-v-kilo.space-out-v-kilo {
  margin-top: 64px;
  margin-bottom: 64px;
}
.space-out-h-kilo.space-out-h-kilo {
  margin-left: 64px;
  margin-right: 64px;
}
.space-out-mega.space-out-mega {
  margin: 104px;
}
.space-out-t-mega.space-out-t-mega {
  margin-top: 104px;
}
.space-out-b-mega.space-out-b-mega {
  margin-bottom: 104px;
}
.space-out-l-mega.space-out-l-mega {
  margin-left: 104px;
}
.space-out-r-mega.space-out-r-mega {
  margin-right: 104px;
}
.space-out-v-mega.space-out-v-mega {
  margin-top: 104px;
  margin-bottom: 104px;
}
.space-out-h-mega.space-out-h-mega {
  margin-left: 104px;
  margin-right: 104px;
}
.space-minus-nano.space-minus-nano {
  margin: -8px;
}
.space-minus-t-nano.space-minus-t-nano {
  margin-top: -8px;
}
.space-minus-b-nano.space-minus-b-nano {
  margin-bottom: -8px;
}
.space-minus-l-nano.space-minus-l-nano {
  margin-left: -8px;
}
.space-minus-r-nano.space-minus-r-nano {
  margin-right: -8px;
}
.space-minus-v-nano.space-minus-v-nano {
  margin-top: -8px;
  margin-bottom: -8px;
}
.space-minus-h-nano.space-minus-h-nano {
  margin-left: -8px;
  margin-right: -8px;
}
.space-minus-micro.space-minus-micro {
  margin: -16px;
}
.space-minus-t-micro.space-minus-t-micro {
  margin-top: -16px;
}
.space-minus-b-micro.space-minus-b-micro {
  margin-bottom: -16px;
}
.space-minus-l-micro.space-minus-l-micro {
  margin-left: -16px;
}
.space-minus-r-micro.space-minus-r-micro {
  margin-right: -16px;
}
.space-minus-v-micro.space-minus-v-micro {
  margin-top: -16px;
  margin-bottom: -16px;
}
.space-minus-h-micro.space-minus-h-micro {
  margin-left: -16px;
  margin-right: -16px;
}
.space-minus-mili.space-minus-mili {
  margin: -24px;
}
.space-minus-t-mili.space-minus-t-mili {
  margin-top: -24px;
}
.space-minus-b-mili.space-minus-b-mili {
  margin-bottom: -24px;
}
.space-minus-l-mili.space-minus-l-mili {
  margin-left: -24px;
}
.space-minus-r-mili.space-minus-r-mili {
  margin-right: -24px;
}
.space-minus-v-mili.space-minus-v-mili {
  margin-top: -24px;
  margin-bottom: -24px;
}
.space-minus-h-mili.space-minus-h-mili {
  margin-left: -24px;
  margin-right: -24px;
}
.space-minus-base.space-minus-base {
  margin: -40px;
}
.space-minus-t-base.space-minus-t-base {
  margin-top: -40px;
}
.space-minus-b-base.space-minus-b-base {
  margin-bottom: -40px;
}
.space-minus-l-base.space-minus-l-base {
  margin-left: -40px;
}
.space-minus-r-base.space-minus-r-base {
  margin-right: -40px;
}
.space-minus-v-base.space-minus-v-base {
  margin-top: -40px;
  margin-bottom: -40px;
}
.space-minus-h-base.space-minus-h-base {
  margin-left: -40px;
  margin-right: -40px;
}
.space-minus-kilo.space-minus-kilo {
  margin: -64px;
}
.space-minus-t-kilo.space-minus-t-kilo {
  margin-top: -64px;
}
.space-minus-b-kilo.space-minus-b-kilo {
  margin-bottom: -64px;
}
.space-minus-l-kilo.space-minus-l-kilo {
  margin-left: -64px;
}
.space-minus-r-kilo.space-minus-r-kilo {
  margin-right: -64px;
}
.space-minus-v-kilo.space-minus-v-kilo {
  margin-top: -64px;
  margin-bottom: -64px;
}
.space-minus-h-kilo.space-minus-h-kilo {
  margin-left: -64px;
  margin-right: -64px;
}
.space-minus-mega.space-minus-mega {
  margin: -104px;
}
.space-minus-t-mega.space-minus-t-mega {
  margin-top: -104px;
}
.space-minus-b-mega.space-minus-b-mega {
  margin-bottom: -104px;
}
.space-minus-l-mega.space-minus-l-mega {
  margin-left: -104px;
}
.space-minus-r-mega.space-minus-r-mega {
  margin-right: -104px;
}
.space-minus-v-mega.space-minus-v-mega {
  margin-top: -104px;
  margin-bottom: -104px;
}
.space-minus-h-mega.space-minus-h-mega {
  margin-left: -104px;
  margin-right: -104px;
}
.space-auto\:sm.space-auto\:sm {
  margin: auto;
}
.space-auto-t\:sm.space-auto-t\:sm {
  margin-top: auto;
}
.space-auto-b\:sm.space-auto-b\:sm {
  margin-bottom: auto;
}
.space-auto-l\:sm.space-auto-l\:sm {
  margin-left: auto;
}
.space-auto-r\:sm.space-auto-r\:sm {
  margin-right: auto;
}
.space-auto-v\:sm.space-auto-v\:sm {
  margin-top: auto;
  margin-bottom: auto;
}
.space-auto-h\:sm.space-auto-h\:sm {
  margin-left: auto;
  margin-right: auto;
}
.space-in-zero\:sm.space-in-zero\:sm {
  padding: 0;
}
.space-in-t-zero\:sm.space-in-t-zero\:sm {
  padding-top: 0;
}
.space-in-b-zero\:sm.space-in-b-zero\:sm {
  padding-bottom: 0;
}
.space-in-l-zero\:sm.space-in-l-zero\:sm {
  padding-left: 0;
}
.space-in-r-zero\:sm.space-in-r-zero\:sm {
  padding-right: 0;
}
.space-in-v-zero\:sm.space-in-v-zero\:sm {
  padding-top: 0;
  padding-bottom: 0;
}
.space-in-h-zero\:sm.space-in-h-zero\:sm {
  padding-left: 0;
  padding-right: 0;
}
.space-in-nano\:sm.space-in-nano\:sm {
  padding: 8px;
}
.space-in-t-nano\:sm.space-in-t-nano\:sm {
  padding-top: 8px;
}
.space-in-b-nano\:sm.space-in-b-nano\:sm {
  padding-bottom: 8px;
}
.space-in-l-nano\:sm.space-in-l-nano\:sm {
  padding-left: 8px;
}
.space-in-r-nano\:sm.space-in-r-nano\:sm {
  padding-right: 8px;
}
.space-in-v-nano\:sm.space-in-v-nano\:sm {
  padding-top: 8px;
  padding-bottom: 8px;
}
.space-in-h-nano\:sm.space-in-h-nano\:sm {
  padding-left: 8px;
  padding-right: 8px;
}
.space-in-micro\:sm.space-in-micro\:sm {
  padding: 16px;
}
.space-in-t-micro\:sm.space-in-t-micro\:sm {
  padding-top: 16px;
}
.space-in-b-micro\:sm.space-in-b-micro\:sm {
  padding-bottom: 16px;
}
.space-in-l-micro\:sm.space-in-l-micro\:sm {
  padding-left: 16px;
}
.space-in-r-micro\:sm.space-in-r-micro\:sm {
  padding-right: 16px;
}
.space-in-v-micro\:sm.space-in-v-micro\:sm {
  padding-top: 16px;
  padding-bottom: 16px;
}
.space-in-h-micro\:sm.space-in-h-micro\:sm {
  padding-left: 16px;
  padding-right: 16px;
}
.space-in-mili\:sm.space-in-mili\:sm {
  padding: 24px;
}
.space-in-t-mili\:sm.space-in-t-mili\:sm {
  padding-top: 24px;
}
.space-in-b-mili\:sm.space-in-b-mili\:sm {
  padding-bottom: 24px;
}
.space-in-l-mili\:sm.space-in-l-mili\:sm {
  padding-left: 24px;
}
.space-in-r-mili\:sm.space-in-r-mili\:sm {
  padding-right: 24px;
}
.space-in-v-mili\:sm.space-in-v-mili\:sm {
  padding-top: 24px;
  padding-bottom: 24px;
}
.space-in-h-mili\:sm.space-in-h-mili\:sm {
  padding-left: 24px;
  padding-right: 24px;
}
.space-in-base\:sm.space-in-base\:sm {
  padding: 40px;
}
.space-in-t-base\:sm.space-in-t-base\:sm {
  padding-top: 40px;
}
.space-in-b-base\:sm.space-in-b-base\:sm {
  padding-bottom: 40px;
}
.space-in-l-base\:sm.space-in-l-base\:sm {
  padding-left: 40px;
}
.space-in-r-base\:sm.space-in-r-base\:sm {
  padding-right: 40px;
}
.space-in-v-base\:sm.space-in-v-base\:sm {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space-in-h-base\:sm.space-in-h-base\:sm {
  padding-left: 40px;
  padding-right: 40px;
}
.space-in-kilo\:sm.space-in-kilo\:sm {
  padding: 64px;
}
.space-in-t-kilo\:sm.space-in-t-kilo\:sm {
  padding-top: 64px;
}
.space-in-b-kilo\:sm.space-in-b-kilo\:sm {
  padding-bottom: 64px;
}
.space-in-l-kilo\:sm.space-in-l-kilo\:sm {
  padding-left: 64px;
}
.space-in-r-kilo\:sm.space-in-r-kilo\:sm {
  padding-right: 64px;
}
.space-in-v-kilo\:sm.space-in-v-kilo\:sm {
  padding-top: 64px;
  padding-bottom: 64px;
}
.space-in-h-kilo\:sm.space-in-h-kilo\:sm {
  padding-left: 64px;
  padding-right: 64px;
}
.space-in-mega\:sm.space-in-mega\:sm {
  padding: 104px;
}
.space-in-t-mega\:sm.space-in-t-mega\:sm {
  padding-top: 104px;
}
.space-in-b-mega\:sm.space-in-b-mega\:sm {
  padding-bottom: 104px;
}
.space-in-l-mega\:sm.space-in-l-mega\:sm {
  padding-left: 104px;
}
.space-in-r-mega\:sm.space-in-r-mega\:sm {
  padding-right: 104px;
}
.space-in-v-mega\:sm.space-in-v-mega\:sm {
  padding-top: 104px;
  padding-bottom: 104px;
}
.space-in-h-mega\:sm.space-in-h-mega\:sm {
  padding-left: 104px;
  padding-right: 104px;
}
.space-out-zero\:sm.space-out-zero\:sm {
  margin: 0;
}
.space-out-t-zero\:sm.space-out-t-zero\:sm {
  margin-top: 0;
}
.space-out-b-zero\:sm.space-out-b-zero\:sm {
  margin-bottom: 0;
}
.space-out-l-zero\:sm.space-out-l-zero\:sm {
  margin-left: 0;
}
.space-out-r-zero\:sm.space-out-r-zero\:sm {
  margin-right: 0;
}
.space-out-v-zero\:sm.space-out-v-zero\:sm {
  margin-top: 0;
  margin-bottom: 0;
}
.space-out-h-zero\:sm.space-out-h-zero\:sm {
  margin-left: 0;
  margin-right: 0;
}
.space-out-nano\:sm.space-out-nano\:sm {
  margin: 8px;
}
.space-out-t-nano\:sm.space-out-t-nano\:sm {
  margin-top: 8px;
}
.space-out-b-nano\:sm.space-out-b-nano\:sm {
  margin-bottom: 8px;
}
.space-out-l-nano\:sm.space-out-l-nano\:sm {
  margin-left: 8px;
}
.space-out-r-nano\:sm.space-out-r-nano\:sm {
  margin-right: 8px;
}
.space-out-v-nano\:sm.space-out-v-nano\:sm {
  margin-top: 8px;
  margin-bottom: 8px;
}
.space-out-h-nano\:sm.space-out-h-nano\:sm {
  margin-left: 8px;
  margin-right: 8px;
}
.space-out-micro\:sm.space-out-micro\:sm {
  margin: 16px;
}
.space-out-t-micro\:sm.space-out-t-micro\:sm {
  margin-top: 16px;
}
.space-out-b-micro\:sm.space-out-b-micro\:sm {
  margin-bottom: 16px;
}
.space-out-l-micro\:sm.space-out-l-micro\:sm {
  margin-left: 16px;
}
.space-out-r-micro\:sm.space-out-r-micro\:sm {
  margin-right: 16px;
}
.space-out-v-micro\:sm.space-out-v-micro\:sm {
  margin-top: 16px;
  margin-bottom: 16px;
}
.space-out-h-micro\:sm.space-out-h-micro\:sm {
  margin-left: 16px;
  margin-right: 16px;
}
.space-out-mili\:sm.space-out-mili\:sm {
  margin: 24px;
}
.space-out-t-mili\:sm.space-out-t-mili\:sm {
  margin-top: 24px;
}
.space-out-b-mili\:sm.space-out-b-mili\:sm {
  margin-bottom: 24px;
}
.space-out-l-mili\:sm.space-out-l-mili\:sm {
  margin-left: 24px;
}
.space-out-r-mili\:sm.space-out-r-mili\:sm {
  margin-right: 24px;
}
.space-out-v-mili\:sm.space-out-v-mili\:sm {
  margin-top: 24px;
  margin-bottom: 24px;
}
.space-out-h-mili\:sm.space-out-h-mili\:sm {
  margin-left: 24px;
  margin-right: 24px;
}
.space-out-base\:sm.space-out-base\:sm {
  margin: 40px;
}
.space-out-t-base\:sm.space-out-t-base\:sm {
  margin-top: 40px;
}
.space-out-b-base\:sm.space-out-b-base\:sm {
  margin-bottom: 40px;
}
.space-out-l-base\:sm.space-out-l-base\:sm {
  margin-left: 40px;
}
.space-out-r-base\:sm.space-out-r-base\:sm {
  margin-right: 40px;
}
.space-out-v-base\:sm.space-out-v-base\:sm {
  margin-top: 40px;
  margin-bottom: 40px;
}
.space-out-h-base\:sm.space-out-h-base\:sm {
  margin-left: 40px;
  margin-right: 40px;
}
.space-out-kilo\:sm.space-out-kilo\:sm {
  margin: 64px;
}
.space-out-t-kilo\:sm.space-out-t-kilo\:sm {
  margin-top: 64px;
}
.space-out-b-kilo\:sm.space-out-b-kilo\:sm {
  margin-bottom: 64px;
}
.space-out-l-kilo\:sm.space-out-l-kilo\:sm {
  margin-left: 64px;
}
.space-out-r-kilo\:sm.space-out-r-kilo\:sm {
  margin-right: 64px;
}
.space-out-v-kilo\:sm.space-out-v-kilo\:sm {
  margin-top: 64px;
  margin-bottom: 64px;
}
.space-out-h-kilo\:sm.space-out-h-kilo\:sm {
  margin-left: 64px;
  margin-right: 64px;
}
.space-out-mega\:sm.space-out-mega\:sm {
  margin: 104px;
}
.space-out-t-mega\:sm.space-out-t-mega\:sm {
  margin-top: 104px;
}
.space-out-b-mega\:sm.space-out-b-mega\:sm {
  margin-bottom: 104px;
}
.space-out-l-mega\:sm.space-out-l-mega\:sm {
  margin-left: 104px;
}
.space-out-r-mega\:sm.space-out-r-mega\:sm {
  margin-right: 104px;
}
.space-out-v-mega\:sm.space-out-v-mega\:sm {
  margin-top: 104px;
  margin-bottom: 104px;
}
.space-out-h-mega\:sm.space-out-h-mega\:sm {
  margin-left: 104px;
  margin-right: 104px;
}
.space-minus-nano\:sm.space-minus-nano\:sm {
  margin: -8px;
}
.space-minus-t-nano\:sm.space-minus-t-nano\:sm {
  margin-top: -8px;
}
.space-minus-b-nano\:sm.space-minus-b-nano\:sm {
  margin-bottom: -8px;
}
.space-minus-l-nano\:sm.space-minus-l-nano\:sm {
  margin-left: -8px;
}
.space-minus-r-nano\:sm.space-minus-r-nano\:sm {
  margin-right: -8px;
}
.space-minus-v-nano\:sm.space-minus-v-nano\:sm {
  margin-top: -8px;
  margin-bottom: -8px;
}
.space-minus-h-nano\:sm.space-minus-h-nano\:sm {
  margin-left: -8px;
  margin-right: -8px;
}
.space-minus-micro\:sm.space-minus-micro\:sm {
  margin: -16px;
}
.space-minus-t-micro\:sm.space-minus-t-micro\:sm {
  margin-top: -16px;
}
.space-minus-b-micro\:sm.space-minus-b-micro\:sm {
  margin-bottom: -16px;
}
.space-minus-l-micro\:sm.space-minus-l-micro\:sm {
  margin-left: -16px;
}
.space-minus-r-micro\:sm.space-minus-r-micro\:sm {
  margin-right: -16px;
}
.space-minus-v-micro\:sm.space-minus-v-micro\:sm {
  margin-top: -16px;
  margin-bottom: -16px;
}
.space-minus-h-micro\:sm.space-minus-h-micro\:sm {
  margin-left: -16px;
  margin-right: -16px;
}
.space-minus-mili\:sm.space-minus-mili\:sm {
  margin: -24px;
}
.space-minus-t-mili\:sm.space-minus-t-mili\:sm {
  margin-top: -24px;
}
.space-minus-b-mili\:sm.space-minus-b-mili\:sm {
  margin-bottom: -24px;
}
.space-minus-l-mili\:sm.space-minus-l-mili\:sm {
  margin-left: -24px;
}
.space-minus-r-mili\:sm.space-minus-r-mili\:sm {
  margin-right: -24px;
}
.space-minus-v-mili\:sm.space-minus-v-mili\:sm {
  margin-top: -24px;
  margin-bottom: -24px;
}
.space-minus-h-mili\:sm.space-minus-h-mili\:sm {
  margin-left: -24px;
  margin-right: -24px;
}
.space-minus-base\:sm.space-minus-base\:sm {
  margin: -40px;
}
.space-minus-t-base\:sm.space-minus-t-base\:sm {
  margin-top: -40px;
}
.space-minus-b-base\:sm.space-minus-b-base\:sm {
  margin-bottom: -40px;
}
.space-minus-l-base\:sm.space-minus-l-base\:sm {
  margin-left: -40px;
}
.space-minus-r-base\:sm.space-minus-r-base\:sm {
  margin-right: -40px;
}
.space-minus-v-base\:sm.space-minus-v-base\:sm {
  margin-top: -40px;
  margin-bottom: -40px;
}
.space-minus-h-base\:sm.space-minus-h-base\:sm {
  margin-left: -40px;
  margin-right: -40px;
}
.space-minus-kilo\:sm.space-minus-kilo\:sm {
  margin: -64px;
}
.space-minus-t-kilo\:sm.space-minus-t-kilo\:sm {
  margin-top: -64px;
}
.space-minus-b-kilo\:sm.space-minus-b-kilo\:sm {
  margin-bottom: -64px;
}
.space-minus-l-kilo\:sm.space-minus-l-kilo\:sm {
  margin-left: -64px;
}
.space-minus-r-kilo\:sm.space-minus-r-kilo\:sm {
  margin-right: -64px;
}
.space-minus-v-kilo\:sm.space-minus-v-kilo\:sm {
  margin-top: -64px;
  margin-bottom: -64px;
}
.space-minus-h-kilo\:sm.space-minus-h-kilo\:sm {
  margin-left: -64px;
  margin-right: -64px;
}
.space-minus-mega\:sm.space-minus-mega\:sm {
  margin: -104px;
}
.space-minus-t-mega\:sm.space-minus-t-mega\:sm {
  margin-top: -104px;
}
.space-minus-b-mega\:sm.space-minus-b-mega\:sm {
  margin-bottom: -104px;
}
.space-minus-l-mega\:sm.space-minus-l-mega\:sm {
  margin-left: -104px;
}
.space-minus-r-mega\:sm.space-minus-r-mega\:sm {
  margin-right: -104px;
}
.space-minus-v-mega\:sm.space-minus-v-mega\:sm {
  margin-top: -104px;
  margin-bottom: -104px;
}
.space-minus-h-mega\:sm.space-minus-h-mega\:sm {
  margin-left: -104px;
  margin-right: -104px;
}
@media (min-width: 576px) {
  .space-auto\:md.space-auto\:md {
    margin: auto;
  }
  .space-auto-t\:md.space-auto-t\:md {
    margin-top: auto;
  }
  .space-auto-b\:md.space-auto-b\:md {
    margin-bottom: auto;
  }
  .space-auto-l\:md.space-auto-l\:md {
    margin-left: auto;
  }
  .space-auto-r\:md.space-auto-r\:md {
    margin-right: auto;
  }
  .space-auto-v\:md.space-auto-v\:md {
    margin-top: auto;
    margin-bottom: auto;
  }
  .space-auto-h\:md.space-auto-h\:md {
    margin-left: auto;
    margin-right: auto;
  }
  .space-in-zero\:md.space-in-zero\:md {
    padding: 0;
  }
  .space-in-t-zero\:md.space-in-t-zero\:md {
    padding-top: 0;
  }
  .space-in-b-zero\:md.space-in-b-zero\:md {
    padding-bottom: 0;
  }
  .space-in-l-zero\:md.space-in-l-zero\:md {
    padding-left: 0;
  }
  .space-in-r-zero\:md.space-in-r-zero\:md {
    padding-right: 0;
  }
  .space-in-v-zero\:md.space-in-v-zero\:md {
    padding-top: 0;
    padding-bottom: 0;
  }
  .space-in-h-zero\:md.space-in-h-zero\:md {
    padding-left: 0;
    padding-right: 0;
  }
  .space-in-nano\:md.space-in-nano\:md {
    padding: 8px;
  }
  .space-in-t-nano\:md.space-in-t-nano\:md {
    padding-top: 8px;
  }
  .space-in-b-nano\:md.space-in-b-nano\:md {
    padding-bottom: 8px;
  }
  .space-in-l-nano\:md.space-in-l-nano\:md {
    padding-left: 8px;
  }
  .space-in-r-nano\:md.space-in-r-nano\:md {
    padding-right: 8px;
  }
  .space-in-v-nano\:md.space-in-v-nano\:md {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .space-in-h-nano\:md.space-in-h-nano\:md {
    padding-left: 8px;
    padding-right: 8px;
  }
  .space-in-micro\:md.space-in-micro\:md {
    padding: 16px;
  }
  .space-in-t-micro\:md.space-in-t-micro\:md {
    padding-top: 16px;
  }
  .space-in-b-micro\:md.space-in-b-micro\:md {
    padding-bottom: 16px;
  }
  .space-in-l-micro\:md.space-in-l-micro\:md {
    padding-left: 16px;
  }
  .space-in-r-micro\:md.space-in-r-micro\:md {
    padding-right: 16px;
  }
  .space-in-v-micro\:md.space-in-v-micro\:md {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .space-in-h-micro\:md.space-in-h-micro\:md {
    padding-left: 16px;
    padding-right: 16px;
  }
  .space-in-mili\:md.space-in-mili\:md {
    padding: 24px;
  }
  .space-in-t-mili\:md.space-in-t-mili\:md {
    padding-top: 24px;
  }
  .space-in-b-mili\:md.space-in-b-mili\:md {
    padding-bottom: 24px;
  }
  .space-in-l-mili\:md.space-in-l-mili\:md {
    padding-left: 24px;
  }
  .space-in-r-mili\:md.space-in-r-mili\:md {
    padding-right: 24px;
  }
  .space-in-v-mili\:md.space-in-v-mili\:md {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .space-in-h-mili\:md.space-in-h-mili\:md {
    padding-left: 24px;
    padding-right: 24px;
  }
  .space-in-base\:md.space-in-base\:md {
    padding: 40px;
  }
  .space-in-t-base\:md.space-in-t-base\:md {
    padding-top: 40px;
  }
  .space-in-b-base\:md.space-in-b-base\:md {
    padding-bottom: 40px;
  }
  .space-in-l-base\:md.space-in-l-base\:md {
    padding-left: 40px;
  }
  .space-in-r-base\:md.space-in-r-base\:md {
    padding-right: 40px;
  }
  .space-in-v-base\:md.space-in-v-base\:md {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .space-in-h-base\:md.space-in-h-base\:md {
    padding-left: 40px;
    padding-right: 40px;
  }
  .space-in-kilo\:md.space-in-kilo\:md {
    padding: 64px;
  }
  .space-in-t-kilo\:md.space-in-t-kilo\:md {
    padding-top: 64px;
  }
  .space-in-b-kilo\:md.space-in-b-kilo\:md {
    padding-bottom: 64px;
  }
  .space-in-l-kilo\:md.space-in-l-kilo\:md {
    padding-left: 64px;
  }
  .space-in-r-kilo\:md.space-in-r-kilo\:md {
    padding-right: 64px;
  }
  .space-in-v-kilo\:md.space-in-v-kilo\:md {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .space-in-h-kilo\:md.space-in-h-kilo\:md {
    padding-left: 64px;
    padding-right: 64px;
  }
  .space-in-mega\:md.space-in-mega\:md {
    padding: 104px;
  }
  .space-in-t-mega\:md.space-in-t-mega\:md {
    padding-top: 104px;
  }
  .space-in-b-mega\:md.space-in-b-mega\:md {
    padding-bottom: 104px;
  }
  .space-in-l-mega\:md.space-in-l-mega\:md {
    padding-left: 104px;
  }
  .space-in-r-mega\:md.space-in-r-mega\:md {
    padding-right: 104px;
  }
  .space-in-v-mega\:md.space-in-v-mega\:md {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  .space-in-h-mega\:md.space-in-h-mega\:md {
    padding-left: 104px;
    padding-right: 104px;
  }
  .space-out-zero\:md.space-out-zero\:md {
    margin: 0;
  }
  .space-out-t-zero\:md.space-out-t-zero\:md {
    margin-top: 0;
  }
  .space-out-b-zero\:md.space-out-b-zero\:md {
    margin-bottom: 0;
  }
  .space-out-l-zero\:md.space-out-l-zero\:md {
    margin-left: 0;
  }
  .space-out-r-zero\:md.space-out-r-zero\:md {
    margin-right: 0;
  }
  .space-out-v-zero\:md.space-out-v-zero\:md {
    margin-top: 0;
    margin-bottom: 0;
  }
  .space-out-h-zero\:md.space-out-h-zero\:md {
    margin-left: 0;
    margin-right: 0;
  }
  .space-out-nano\:md.space-out-nano\:md {
    margin: 8px;
  }
  .space-out-t-nano\:md.space-out-t-nano\:md {
    margin-top: 8px;
  }
  .space-out-b-nano\:md.space-out-b-nano\:md {
    margin-bottom: 8px;
  }
  .space-out-l-nano\:md.space-out-l-nano\:md {
    margin-left: 8px;
  }
  .space-out-r-nano\:md.space-out-r-nano\:md {
    margin-right: 8px;
  }
  .space-out-v-nano\:md.space-out-v-nano\:md {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .space-out-h-nano\:md.space-out-h-nano\:md {
    margin-left: 8px;
    margin-right: 8px;
  }
  .space-out-micro\:md.space-out-micro\:md {
    margin: 16px;
  }
  .space-out-t-micro\:md.space-out-t-micro\:md {
    margin-top: 16px;
  }
  .space-out-b-micro\:md.space-out-b-micro\:md {
    margin-bottom: 16px;
  }
  .space-out-l-micro\:md.space-out-l-micro\:md {
    margin-left: 16px;
  }
  .space-out-r-micro\:md.space-out-r-micro\:md {
    margin-right: 16px;
  }
  .space-out-v-micro\:md.space-out-v-micro\:md {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .space-out-h-micro\:md.space-out-h-micro\:md {
    margin-left: 16px;
    margin-right: 16px;
  }
  .space-out-mili\:md.space-out-mili\:md {
    margin: 24px;
  }
  .space-out-t-mili\:md.space-out-t-mili\:md {
    margin-top: 24px;
  }
  .space-out-b-mili\:md.space-out-b-mili\:md {
    margin-bottom: 24px;
  }
  .space-out-l-mili\:md.space-out-l-mili\:md {
    margin-left: 24px;
  }
  .space-out-r-mili\:md.space-out-r-mili\:md {
    margin-right: 24px;
  }
  .space-out-v-mili\:md.space-out-v-mili\:md {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .space-out-h-mili\:md.space-out-h-mili\:md {
    margin-left: 24px;
    margin-right: 24px;
  }
  .space-out-base\:md.space-out-base\:md {
    margin: 40px;
  }
  .space-out-t-base\:md.space-out-t-base\:md {
    margin-top: 40px;
  }
  .space-out-b-base\:md.space-out-b-base\:md {
    margin-bottom: 40px;
  }
  .space-out-l-base\:md.space-out-l-base\:md {
    margin-left: 40px;
  }
  .space-out-r-base\:md.space-out-r-base\:md {
    margin-right: 40px;
  }
  .space-out-v-base\:md.space-out-v-base\:md {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .space-out-h-base\:md.space-out-h-base\:md {
    margin-left: 40px;
    margin-right: 40px;
  }
  .space-out-kilo\:md.space-out-kilo\:md {
    margin: 64px;
  }
  .space-out-t-kilo\:md.space-out-t-kilo\:md {
    margin-top: 64px;
  }
  .space-out-b-kilo\:md.space-out-b-kilo\:md {
    margin-bottom: 64px;
  }
  .space-out-l-kilo\:md.space-out-l-kilo\:md {
    margin-left: 64px;
  }
  .space-out-r-kilo\:md.space-out-r-kilo\:md {
    margin-right: 64px;
  }
  .space-out-v-kilo\:md.space-out-v-kilo\:md {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .space-out-h-kilo\:md.space-out-h-kilo\:md {
    margin-left: 64px;
    margin-right: 64px;
  }
  .space-out-mega\:md.space-out-mega\:md {
    margin: 104px;
  }
  .space-out-t-mega\:md.space-out-t-mega\:md {
    margin-top: 104px;
  }
  .space-out-b-mega\:md.space-out-b-mega\:md {
    margin-bottom: 104px;
  }
  .space-out-l-mega\:md.space-out-l-mega\:md {
    margin-left: 104px;
  }
  .space-out-r-mega\:md.space-out-r-mega\:md {
    margin-right: 104px;
  }
  .space-out-v-mega\:md.space-out-v-mega\:md {
    margin-top: 104px;
    margin-bottom: 104px;
  }
  .space-out-h-mega\:md.space-out-h-mega\:md {
    margin-left: 104px;
    margin-right: 104px;
  }
  .space-minus-nano\:md.space-minus-nano\:md {
    margin: -8px;
  }
  .space-minus-t-nano\:md.space-minus-t-nano\:md {
    margin-top: -8px;
  }
  .space-minus-b-nano\:md.space-minus-b-nano\:md {
    margin-bottom: -8px;
  }
  .space-minus-l-nano\:md.space-minus-l-nano\:md {
    margin-left: -8px;
  }
  .space-minus-r-nano\:md.space-minus-r-nano\:md {
    margin-right: -8px;
  }
  .space-minus-v-nano\:md.space-minus-v-nano\:md {
    margin-top: -8px;
    margin-bottom: -8px;
  }
  .space-minus-h-nano\:md.space-minus-h-nano\:md {
    margin-left: -8px;
    margin-right: -8px;
  }
  .space-minus-micro\:md.space-minus-micro\:md {
    margin: -16px;
  }
  .space-minus-t-micro\:md.space-minus-t-micro\:md {
    margin-top: -16px;
  }
  .space-minus-b-micro\:md.space-minus-b-micro\:md {
    margin-bottom: -16px;
  }
  .space-minus-l-micro\:md.space-minus-l-micro\:md {
    margin-left: -16px;
  }
  .space-minus-r-micro\:md.space-minus-r-micro\:md {
    margin-right: -16px;
  }
  .space-minus-v-micro\:md.space-minus-v-micro\:md {
    margin-top: -16px;
    margin-bottom: -16px;
  }
  .space-minus-h-micro\:md.space-minus-h-micro\:md {
    margin-left: -16px;
    margin-right: -16px;
  }
  .space-minus-mili\:md.space-minus-mili\:md {
    margin: -24px;
  }
  .space-minus-t-mili\:md.space-minus-t-mili\:md {
    margin-top: -24px;
  }
  .space-minus-b-mili\:md.space-minus-b-mili\:md {
    margin-bottom: -24px;
  }
  .space-minus-l-mili\:md.space-minus-l-mili\:md {
    margin-left: -24px;
  }
  .space-minus-r-mili\:md.space-minus-r-mili\:md {
    margin-right: -24px;
  }
  .space-minus-v-mili\:md.space-minus-v-mili\:md {
    margin-top: -24px;
    margin-bottom: -24px;
  }
  .space-minus-h-mili\:md.space-minus-h-mili\:md {
    margin-left: -24px;
    margin-right: -24px;
  }
  .space-minus-base\:md.space-minus-base\:md {
    margin: -40px;
  }
  .space-minus-t-base\:md.space-minus-t-base\:md {
    margin-top: -40px;
  }
  .space-minus-b-base\:md.space-minus-b-base\:md {
    margin-bottom: -40px;
  }
  .space-minus-l-base\:md.space-minus-l-base\:md {
    margin-left: -40px;
  }
  .space-minus-r-base\:md.space-minus-r-base\:md {
    margin-right: -40px;
  }
  .space-minus-v-base\:md.space-minus-v-base\:md {
    margin-top: -40px;
    margin-bottom: -40px;
  }
  .space-minus-h-base\:md.space-minus-h-base\:md {
    margin-left: -40px;
    margin-right: -40px;
  }
  .space-minus-kilo\:md.space-minus-kilo\:md {
    margin: -64px;
  }
  .space-minus-t-kilo\:md.space-minus-t-kilo\:md {
    margin-top: -64px;
  }
  .space-minus-b-kilo\:md.space-minus-b-kilo\:md {
    margin-bottom: -64px;
  }
  .space-minus-l-kilo\:md.space-minus-l-kilo\:md {
    margin-left: -64px;
  }
  .space-minus-r-kilo\:md.space-minus-r-kilo\:md {
    margin-right: -64px;
  }
  .space-minus-v-kilo\:md.space-minus-v-kilo\:md {
    margin-top: -64px;
    margin-bottom: -64px;
  }
  .space-minus-h-kilo\:md.space-minus-h-kilo\:md {
    margin-left: -64px;
    margin-right: -64px;
  }
  .space-minus-mega\:md.space-minus-mega\:md {
    margin: -104px;
  }
  .space-minus-t-mega\:md.space-minus-t-mega\:md {
    margin-top: -104px;
  }
  .space-minus-b-mega\:md.space-minus-b-mega\:md {
    margin-bottom: -104px;
  }
  .space-minus-l-mega\:md.space-minus-l-mega\:md {
    margin-left: -104px;
  }
  .space-minus-r-mega\:md.space-minus-r-mega\:md {
    margin-right: -104px;
  }
  .space-minus-v-mega\:md.space-minus-v-mega\:md {
    margin-top: -104px;
    margin-bottom: -104px;
  }
  .space-minus-h-mega\:md.space-minus-h-mega\:md {
    margin-left: -104px;
    margin-right: -104px;
  }
}
@media (min-width: 768px) {
  .space-auto\:lg.space-auto\:lg {
    margin: auto;
  }
  .space-auto-t\:lg.space-auto-t\:lg {
    margin-top: auto;
  }
  .space-auto-b\:lg.space-auto-b\:lg {
    margin-bottom: auto;
  }
  .space-auto-l\:lg.space-auto-l\:lg {
    margin-left: auto;
  }
  .space-auto-r\:lg.space-auto-r\:lg {
    margin-right: auto;
  }
  .space-auto-v\:lg.space-auto-v\:lg {
    margin-top: auto;
    margin-bottom: auto;
  }
  .space-auto-h\:lg.space-auto-h\:lg {
    margin-left: auto;
    margin-right: auto;
  }
  .space-in-zero\:lg.space-in-zero\:lg {
    padding: 0;
  }
  .space-in-t-zero\:lg.space-in-t-zero\:lg {
    padding-top: 0;
  }
  .space-in-b-zero\:lg.space-in-b-zero\:lg {
    padding-bottom: 0;
  }
  .space-in-l-zero\:lg.space-in-l-zero\:lg {
    padding-left: 0;
  }
  .space-in-r-zero\:lg.space-in-r-zero\:lg {
    padding-right: 0;
  }
  .space-in-v-zero\:lg.space-in-v-zero\:lg {
    padding-top: 0;
    padding-bottom: 0;
  }
  .space-in-h-zero\:lg.space-in-h-zero\:lg {
    padding-left: 0;
    padding-right: 0;
  }
  .space-in-nano\:lg.space-in-nano\:lg {
    padding: 8px;
  }
  .space-in-t-nano\:lg.space-in-t-nano\:lg {
    padding-top: 8px;
  }
  .space-in-b-nano\:lg.space-in-b-nano\:lg {
    padding-bottom: 8px;
  }
  .space-in-l-nano\:lg.space-in-l-nano\:lg {
    padding-left: 8px;
  }
  .space-in-r-nano\:lg.space-in-r-nano\:lg {
    padding-right: 8px;
  }
  .space-in-v-nano\:lg.space-in-v-nano\:lg {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .space-in-h-nano\:lg.space-in-h-nano\:lg {
    padding-left: 8px;
    padding-right: 8px;
  }
  .space-in-micro\:lg.space-in-micro\:lg {
    padding: 16px;
  }
  .space-in-t-micro\:lg.space-in-t-micro\:lg {
    padding-top: 16px;
  }
  .space-in-b-micro\:lg.space-in-b-micro\:lg {
    padding-bottom: 16px;
  }
  .space-in-l-micro\:lg.space-in-l-micro\:lg {
    padding-left: 16px;
  }
  .space-in-r-micro\:lg.space-in-r-micro\:lg {
    padding-right: 16px;
  }
  .space-in-v-micro\:lg.space-in-v-micro\:lg {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .space-in-h-micro\:lg.space-in-h-micro\:lg {
    padding-left: 16px;
    padding-right: 16px;
  }
  .space-in-mili\:lg.space-in-mili\:lg {
    padding: 24px;
  }
  .space-in-t-mili\:lg.space-in-t-mili\:lg {
    padding-top: 24px;
  }
  .space-in-b-mili\:lg.space-in-b-mili\:lg {
    padding-bottom: 24px;
  }
  .space-in-l-mili\:lg.space-in-l-mili\:lg {
    padding-left: 24px;
  }
  .space-in-r-mili\:lg.space-in-r-mili\:lg {
    padding-right: 24px;
  }
  .space-in-v-mili\:lg.space-in-v-mili\:lg {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .space-in-h-mili\:lg.space-in-h-mili\:lg {
    padding-left: 24px;
    padding-right: 24px;
  }
  .space-in-base\:lg.space-in-base\:lg {
    padding: 40px;
  }
  .space-in-t-base\:lg.space-in-t-base\:lg {
    padding-top: 40px;
  }
  .space-in-b-base\:lg.space-in-b-base\:lg {
    padding-bottom: 40px;
  }
  .space-in-l-base\:lg.space-in-l-base\:lg {
    padding-left: 40px;
  }
  .space-in-r-base\:lg.space-in-r-base\:lg {
    padding-right: 40px;
  }
  .space-in-v-base\:lg.space-in-v-base\:lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .space-in-h-base\:lg.space-in-h-base\:lg {
    padding-left: 40px;
    padding-right: 40px;
  }
  .space-in-kilo\:lg.space-in-kilo\:lg {
    padding: 64px;
  }
  .space-in-t-kilo\:lg.space-in-t-kilo\:lg {
    padding-top: 64px;
  }
  .space-in-b-kilo\:lg.space-in-b-kilo\:lg {
    padding-bottom: 64px;
  }
  .space-in-l-kilo\:lg.space-in-l-kilo\:lg {
    padding-left: 64px;
  }
  .space-in-r-kilo\:lg.space-in-r-kilo\:lg {
    padding-right: 64px;
  }
  .space-in-v-kilo\:lg.space-in-v-kilo\:lg {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .space-in-h-kilo\:lg.space-in-h-kilo\:lg {
    padding-left: 64px;
    padding-right: 64px;
  }
  .space-in-mega\:lg.space-in-mega\:lg {
    padding: 104px;
  }
  .space-in-t-mega\:lg.space-in-t-mega\:lg {
    padding-top: 104px;
  }
  .space-in-b-mega\:lg.space-in-b-mega\:lg {
    padding-bottom: 104px;
  }
  .space-in-l-mega\:lg.space-in-l-mega\:lg {
    padding-left: 104px;
  }
  .space-in-r-mega\:lg.space-in-r-mega\:lg {
    padding-right: 104px;
  }
  .space-in-v-mega\:lg.space-in-v-mega\:lg {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  .space-in-h-mega\:lg.space-in-h-mega\:lg {
    padding-left: 104px;
    padding-right: 104px;
  }
  .space-out-zero\:lg.space-out-zero\:lg {
    margin: 0;
  }
  .space-out-t-zero\:lg.space-out-t-zero\:lg {
    margin-top: 0;
  }
  .space-out-b-zero\:lg.space-out-b-zero\:lg {
    margin-bottom: 0;
  }
  .space-out-l-zero\:lg.space-out-l-zero\:lg {
    margin-left: 0;
  }
  .space-out-r-zero\:lg.space-out-r-zero\:lg {
    margin-right: 0;
  }
  .space-out-v-zero\:lg.space-out-v-zero\:lg {
    margin-top: 0;
    margin-bottom: 0;
  }
  .space-out-h-zero\:lg.space-out-h-zero\:lg {
    margin-left: 0;
    margin-right: 0;
  }
  .space-out-nano\:lg.space-out-nano\:lg {
    margin: 8px;
  }
  .space-out-t-nano\:lg.space-out-t-nano\:lg {
    margin-top: 8px;
  }
  .space-out-b-nano\:lg.space-out-b-nano\:lg {
    margin-bottom: 8px;
  }
  .space-out-l-nano\:lg.space-out-l-nano\:lg {
    margin-left: 8px;
  }
  .space-out-r-nano\:lg.space-out-r-nano\:lg {
    margin-right: 8px;
  }
  .space-out-v-nano\:lg.space-out-v-nano\:lg {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .space-out-h-nano\:lg.space-out-h-nano\:lg {
    margin-left: 8px;
    margin-right: 8px;
  }
  .space-out-micro\:lg.space-out-micro\:lg {
    margin: 16px;
  }
  .space-out-t-micro\:lg.space-out-t-micro\:lg {
    margin-top: 16px;
  }
  .space-out-b-micro\:lg.space-out-b-micro\:lg {
    margin-bottom: 16px;
  }
  .space-out-l-micro\:lg.space-out-l-micro\:lg {
    margin-left: 16px;
  }
  .space-out-r-micro\:lg.space-out-r-micro\:lg {
    margin-right: 16px;
  }
  .space-out-v-micro\:lg.space-out-v-micro\:lg {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .space-out-h-micro\:lg.space-out-h-micro\:lg {
    margin-left: 16px;
    margin-right: 16px;
  }
  .space-out-mili\:lg.space-out-mili\:lg {
    margin: 24px;
  }
  .space-out-t-mili\:lg.space-out-t-mili\:lg {
    margin-top: 24px;
  }
  .space-out-b-mili\:lg.space-out-b-mili\:lg {
    margin-bottom: 24px;
  }
  .space-out-l-mili\:lg.space-out-l-mili\:lg {
    margin-left: 24px;
  }
  .space-out-r-mili\:lg.space-out-r-mili\:lg {
    margin-right: 24px;
  }
  .space-out-v-mili\:lg.space-out-v-mili\:lg {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .space-out-h-mili\:lg.space-out-h-mili\:lg {
    margin-left: 24px;
    margin-right: 24px;
  }
  .space-out-base\:lg.space-out-base\:lg {
    margin: 40px;
  }
  .space-out-t-base\:lg.space-out-t-base\:lg {
    margin-top: 40px;
  }
  .space-out-b-base\:lg.space-out-b-base\:lg {
    margin-bottom: 40px;
  }
  .space-out-l-base\:lg.space-out-l-base\:lg {
    margin-left: 40px;
  }
  .space-out-r-base\:lg.space-out-r-base\:lg {
    margin-right: 40px;
  }
  .space-out-v-base\:lg.space-out-v-base\:lg {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .space-out-h-base\:lg.space-out-h-base\:lg {
    margin-left: 40px;
    margin-right: 40px;
  }
  .space-out-kilo\:lg.space-out-kilo\:lg {
    margin: 64px;
  }
  .space-out-t-kilo\:lg.space-out-t-kilo\:lg {
    margin-top: 64px;
  }
  .space-out-b-kilo\:lg.space-out-b-kilo\:lg {
    margin-bottom: 64px;
  }
  .space-out-l-kilo\:lg.space-out-l-kilo\:lg {
    margin-left: 64px;
  }
  .space-out-r-kilo\:lg.space-out-r-kilo\:lg {
    margin-right: 64px;
  }
  .space-out-v-kilo\:lg.space-out-v-kilo\:lg {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .space-out-h-kilo\:lg.space-out-h-kilo\:lg {
    margin-left: 64px;
    margin-right: 64px;
  }
  .space-out-mega\:lg.space-out-mega\:lg {
    margin: 104px;
  }
  .space-out-t-mega\:lg.space-out-t-mega\:lg {
    margin-top: 104px;
  }
  .space-out-b-mega\:lg.space-out-b-mega\:lg {
    margin-bottom: 104px;
  }
  .space-out-l-mega\:lg.space-out-l-mega\:lg {
    margin-left: 104px;
  }
  .space-out-r-mega\:lg.space-out-r-mega\:lg {
    margin-right: 104px;
  }
  .space-out-v-mega\:lg.space-out-v-mega\:lg {
    margin-top: 104px;
    margin-bottom: 104px;
  }
  .space-out-h-mega\:lg.space-out-h-mega\:lg {
    margin-left: 104px;
    margin-right: 104px;
  }
  .space-minus-nano\:lg.space-minus-nano\:lg {
    margin: -8px;
  }
  .space-minus-t-nano\:lg.space-minus-t-nano\:lg {
    margin-top: -8px;
  }
  .space-minus-b-nano\:lg.space-minus-b-nano\:lg {
    margin-bottom: -8px;
  }
  .space-minus-l-nano\:lg.space-minus-l-nano\:lg {
    margin-left: -8px;
  }
  .space-minus-r-nano\:lg.space-minus-r-nano\:lg {
    margin-right: -8px;
  }
  .space-minus-v-nano\:lg.space-minus-v-nano\:lg {
    margin-top: -8px;
    margin-bottom: -8px;
  }
  .space-minus-h-nano\:lg.space-minus-h-nano\:lg {
    margin-left: -8px;
    margin-right: -8px;
  }
  .space-minus-micro\:lg.space-minus-micro\:lg {
    margin: -16px;
  }
  .space-minus-t-micro\:lg.space-minus-t-micro\:lg {
    margin-top: -16px;
  }
  .space-minus-b-micro\:lg.space-minus-b-micro\:lg {
    margin-bottom: -16px;
  }
  .space-minus-l-micro\:lg.space-minus-l-micro\:lg {
    margin-left: -16px;
  }
  .space-minus-r-micro\:lg.space-minus-r-micro\:lg {
    margin-right: -16px;
  }
  .space-minus-v-micro\:lg.space-minus-v-micro\:lg {
    margin-top: -16px;
    margin-bottom: -16px;
  }
  .space-minus-h-micro\:lg.space-minus-h-micro\:lg {
    margin-left: -16px;
    margin-right: -16px;
  }
  .space-minus-mili\:lg.space-minus-mili\:lg {
    margin: -24px;
  }
  .space-minus-t-mili\:lg.space-minus-t-mili\:lg {
    margin-top: -24px;
  }
  .space-minus-b-mili\:lg.space-minus-b-mili\:lg {
    margin-bottom: -24px;
  }
  .space-minus-l-mili\:lg.space-minus-l-mili\:lg {
    margin-left: -24px;
  }
  .space-minus-r-mili\:lg.space-minus-r-mili\:lg {
    margin-right: -24px;
  }
  .space-minus-v-mili\:lg.space-minus-v-mili\:lg {
    margin-top: -24px;
    margin-bottom: -24px;
  }
  .space-minus-h-mili\:lg.space-minus-h-mili\:lg {
    margin-left: -24px;
    margin-right: -24px;
  }
  .space-minus-base\:lg.space-minus-base\:lg {
    margin: -40px;
  }
  .space-minus-t-base\:lg.space-minus-t-base\:lg {
    margin-top: -40px;
  }
  .space-minus-b-base\:lg.space-minus-b-base\:lg {
    margin-bottom: -40px;
  }
  .space-minus-l-base\:lg.space-minus-l-base\:lg {
    margin-left: -40px;
  }
  .space-minus-r-base\:lg.space-minus-r-base\:lg {
    margin-right: -40px;
  }
  .space-minus-v-base\:lg.space-minus-v-base\:lg {
    margin-top: -40px;
    margin-bottom: -40px;
  }
  .space-minus-h-base\:lg.space-minus-h-base\:lg {
    margin-left: -40px;
    margin-right: -40px;
  }
  .space-minus-kilo\:lg.space-minus-kilo\:lg {
    margin: -64px;
  }
  .space-minus-t-kilo\:lg.space-minus-t-kilo\:lg {
    margin-top: -64px;
  }
  .space-minus-b-kilo\:lg.space-minus-b-kilo\:lg {
    margin-bottom: -64px;
  }
  .space-minus-l-kilo\:lg.space-minus-l-kilo\:lg {
    margin-left: -64px;
  }
  .space-minus-r-kilo\:lg.space-minus-r-kilo\:lg {
    margin-right: -64px;
  }
  .space-minus-v-kilo\:lg.space-minus-v-kilo\:lg {
    margin-top: -64px;
    margin-bottom: -64px;
  }
  .space-minus-h-kilo\:lg.space-minus-h-kilo\:lg {
    margin-left: -64px;
    margin-right: -64px;
  }
  .space-minus-mega\:lg.space-minus-mega\:lg {
    margin: -104px;
  }
  .space-minus-t-mega\:lg.space-minus-t-mega\:lg {
    margin-top: -104px;
  }
  .space-minus-b-mega\:lg.space-minus-b-mega\:lg {
    margin-bottom: -104px;
  }
  .space-minus-l-mega\:lg.space-minus-l-mega\:lg {
    margin-left: -104px;
  }
  .space-minus-r-mega\:lg.space-minus-r-mega\:lg {
    margin-right: -104px;
  }
  .space-minus-v-mega\:lg.space-minus-v-mega\:lg {
    margin-top: -104px;
    margin-bottom: -104px;
  }
  .space-minus-h-mega\:lg.space-minus-h-mega\:lg {
    margin-left: -104px;
    margin-right: -104px;
  }
}

/*# sourceMappingURL=space.css.map */
