/* space.less v0.0.3 | MIT License | github.com/paulradzkov/space.less */

.space-settings() {

    // space values
    @spaces: 0, 8px, 16px, 24px, 40px, 64px, 104px;

    // names for space values
    @spacealias: -zero, -nano, -micro, -mili, -base, -kilo, -mega;

    // media breakpoints
    @viewport-breakpoints:
        ~"(min-width: 576px)",
        ~"(min-width: 768px)";

    // names for breakpoint suffixes
    @viewport-suffixes: ~"\:sm", ~"\:md", ~"\:lg"; // will render css as .space-auto\:xs

    // IMPORTANT: suffixes count should be bigger than breakpoints count by 1
    // suffixes-count = breakpoints-count + 1

    @cust-prop: false; // enable or disable css custom properties
}

& {

    .space-settings();

    @i: length(@spaces);      // how many steps we have
    @j: length(@spacealias);  // how many aliases we have
    @n: length(@viewport-breakpoints); // how many breakpoints we have
    @m: length(@viewport-suffixes);    // how many suffixes we have
    @first-suffix: extract(@viewport-suffixes, 1); // first breakpoint suffix

    @top: -t;
    @bottom: -b;
    @left: -l;
    @right: -r;
    @vertical: -v;
    @horizontal: -h;

    // Basic looping in LESS
    .loop-space-steps(@type, @suff, @prop, @sign, @index: @i) when (@index > 0) and ( @i = @j) {
        .loop-space-steps(@type, @suff, @prop, @sign, (@index - 1)); // next iteration
        @current-alias: extract(@spacealias, @index);
        @current-value: extract(@spaces, @index);
        @current-pre-alias: extract(@spacealias, (@index - 1));
        @current-pre-value: extract(@spaces, (@index - 1));

        & when (@cust-prop = true) {

            // we don't want .space-minus-zero:xs { margin: 0;}
            & when not ((@type = minus) and (@index = 1)) {
                & when (@sign = 1) {
                    .space-@{type}@{current-alias}@{suff}               { && { @{prop}:        ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{top}@{current-alias}@{suff}         { && { @{prop}-top:    ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{bottom}@{current-alias}@{suff}      { && { @{prop}-bottom: ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{left}@{current-alias}@{suff}        { && { @{prop}-left:   ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{right}@{current-alias}@{suff}       { && { @{prop}-right:  ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{vertical}@{current-alias}@{suff}    { && { @{prop}-top:    ~"var(--space@{current-alias})"; 
                                                                               @{prop}-bottom: ~"var(--space@{current-alias})"; } }
                    .space-@{type}@{horizontal}@{current-alias}@{suff}  { && { @{prop}-left:   ~"var(--space@{current-alias})"; 
                                                                               @{prop}-right:  ~"var(--space@{current-alias})"; } }
                }
                & when (@sign = -1) {
                    .space-@{type}@{current-alias}@{suff}               { && { @{prop}:        ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{top}@{current-alias}@{suff}         { && { @{prop}-top:    ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{bottom}@{current-alias}@{suff}      { && { @{prop}-bottom: ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{left}@{current-alias}@{suff}        { && { @{prop}-left:   ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{right}@{current-alias}@{suff}       { && { @{prop}-right:  ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{vertical}@{current-alias}@{suff}    { && { @{prop}-top:    ~"var(--space-minus@{current-alias})"; 
                                                                               @{prop}-bottom: ~"var(--space-minus@{current-alias})"; } }
                    .space-@{type}@{horizontal}@{current-alias}@{suff}  { && { @{prop}-left:   ~"var(--space-minus@{current-alias})"; 
                                                                               @{prop}-right:  ~"var(--space-minus@{current-alias})"; } }
                }
            }
        }

        & when (@cust-prop = false) {

            // we don't want .space-minus-zero:xs { margin: 0;}
            & when not ((@type = minus) and (@index = 1)) {
                .space-@{type}@{current-alias}@{suff}               { && { @{prop}:        (@current-value * @sign); } }
                .space-@{type}@{top}@{current-alias}@{suff}         { && { @{prop}-top:    (@current-value * @sign); } }
                .space-@{type}@{bottom}@{current-alias}@{suff}      { && { @{prop}-bottom: (@current-value * @sign); } }
                .space-@{type}@{left}@{current-alias}@{suff}        { && { @{prop}-left:   (@current-value * @sign); } }
                .space-@{type}@{right}@{current-alias}@{suff}       { && { @{prop}-right:  (@current-value * @sign); } }
                .space-@{type}@{vertical}@{current-alias}@{suff}    { && { @{prop}-top:    (@current-value * @sign); 
                                                                           @{prop}-bottom: (@current-value * @sign); } }
                .space-@{type}@{horizontal}@{current-alias}@{suff}  { && { @{prop}-left:   (@current-value * @sign); 
                                                                           @{prop}-right:  (@current-value * @sign); } }
            }
        }
    }

    .render-cust-props(@index: @i) when (@cust-prop = true) and (@index > 0) and ( @i = @j) {
        .render-cust-props((@index - 1));
        @current-alias: extract(@spacealias, @index);
        @current-value: extract(@spaces, @index);

        --space@{current-alias}: @current-value;
        & when (@current-value > 0) {
            --space-minus@{current-alias}: ~'-@{current-value}';
        }
    }

    // Render module with breakpoint suffix
    .space(@suff;) {

        .space-auto@{suff}              { && { margin:        auto; } }
        .space-auto@{top}@{suff}        { && { margin-top:    auto; } }
        .space-auto@{bottom}@{suff}     { && { margin-bottom: auto; } }
        .space-auto@{left}@{suff}       { && { margin-left:   auto; } }
        .space-auto@{right}@{suff}      { && { margin-right:  auto; } }
        .space-auto@{vertical}@{suff}   { && { margin-top:    auto; 
                                               margin-bottom: auto; } }
        .space-auto@{horizontal}@{suff} { && { margin-left:   auto; 
                                               margin-right:  auto; } }

        .loop-space-steps(in, @suff, padding, 1, @i);
        .loop-space-steps(out, @suff, margin, 1, @i);
        .loop-space-steps(minus, @suff, margin, -1, @i);
    }

    // Create breakpoints
    .responsive(@index: @m) when (@index > 1) and (@m = (@n + 1)) {
        .responsive((@index - 1)); // next iteration
        @current-suffix: extract(@viewport-suffixes, @index);
        @current-breakpoint: extract(@viewport-breakpoints, (@index - 1));

        @media @current-breakpoint {
            .space(@current-suffix);
        }
    }

    // Render css custom properties
    :root when (@cust-prop = true) {
        .render-cust-props();
    }

    // Render default state before first breakpoint
    .space(~"");
    .space(@first-suffix);

    // Render mediaqueries with breakpoints
    .responsive();
}
